# AWS Cognito Configuration
# These values are already set in Amplify environment variables
# For local development, copy this file to .env and fill in the values

REACT_APP_USER_POOL_ID=ap-south-1_df2Xgk8QR
REACT_APP_USER_POOL_CLIENT_ID=1gcl93s5257olc9kn1rut8uh60
REACT_APP_AWS_REGION=ap-south-1
REACT_APP_API_URL=https://q8aw4txdoa.execute-api.ap-south-1.amazonaws.com/prod/
